/* || FONT */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
/* || CSS resets */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Manrope', sans-serif;
}

img,
svg,
canvas{
    height:auto;
    display:block;
}

/* || Variables */
:root{
    --SHARE-BG-CLR: #9eafc2;
    --MAIN-BG-CLR: #ffffff;
    --BG-CLR: #ecf2f8;
    --TXT-CLR-500: #6d7f97;
    --TXT-CLR-700: #48556a;
}

/* || General */

body{
    background-color: var(--BG-CLR);
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    min-height:100svh;
}

.wrapper {
    display:grid;
    grid-template-columns: 40% 60%;
    max-width:45rem;
    background-color:var(--MAIN-BG-CLR);
    margin:clamp(1.5rem, 0.6vw, 4rem);
    border-radius:10px;
    box-shadow: 0px 3px 10px 1px hsla(212, 23%, 69%, 0.7);
}

.drawers {
    background-image: url(images/drawers.jpg);
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    border-radius:10px 0 0 10px;
}

/* .txt{
    padding:2.5rem 2rem 0rem 2rem;
} */

.txt .header{
    font-size: clamp(1.25rem, 1.2vw, 2.188rem);
    font-weight:700;
    line-height:1.2;
    color:var(--TXT-CLR-700);
    margin-top:2.5rem;
    margin-bottom:1rem;
    margin-inline:2rem;
}

.txt .note{
    font-size:14px;
    font-weight:500;
    line-height:1.5;
    margin-bottom:1rem;
    margin-inline:2rem;
    color:var(--TXT-CLR-500);
}

.writer{
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:1rem;
    margin-bottom:1.5rem;
    margin-inline:2rem;
}

.writer .identity{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:.5rem;
}

.writer .identity img{
    width:40px;
    height:40px;
    border-radius:50%;
}

.writer .identity .name_time{
    display:flex;
    justify-content:center;
    align-items:flex-start;
    flex-direction:column;
}

.identity .name{
    font-size: 14px;
    font-weight:700;
    color:var(--TXT-CLR-700);
    margin-bottom:5px;
}

.identity .time{
    font-size: 13px;
    font-weight:500;
    color:var(--TXT-CLR-500);
}

/* .writer .share{
    position:relative;
} */

.share_icon{
    background-color:var(--BG-CLR);
    height:30px;
    width:30px;
    border-radius: 50%;
    display:flex;
    justify-content:center;
    align-items:center;
}

.share_icon:hover{
    background-color:var(--TXT-CLR-500);
    cursor:pointer;
}

.share_icon svg{
    color: currentColor;
    fill:#6E8098;
}

.share_icon:hover svg{
    color: currentColor;
    fill:#fff;
}

.txt {
    position:relative;
}

/* .share {
    display:none;
} */

.share .share_to{
    position:relative;
    position:absolute;
    bottom:90px;
    right:-45px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:1rem;
    background-color:var(--TXT-CLR-700);
    border-radius:8px;
    z-index:2;
    padding:1rem 1.5rem;
    box-shadow: 0px 10px 5px 1px hsla(212, 23%, 69%, 0.2);
}

.share .share_to::after{
    content: "";
    position:absolute;
    transform:rotate(45deg);
    top: 42px;
    right:88px;
    height:15px;
    width:15px;
    background-color:var(--TXT-CLR-700);
    box-shadow: 0px 15px 5px 1px hsla(212, 23%, 69%, 0.2);
    z-index:9;
}

.share .share_icon{
    display:none;
}

.share .share_to span{
    color:var(--TXT-CLR-500);
    font-size:13px;
    font-weight:500;
    text-transform: uppercase;
}

.share .share_to .icons{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:1rem;
}

.share .share_to .icons img{
    height:18px;
    width:18px;
}

@media screen and (max-width: 39.063rem){
    .wrapper {
        display:grid;
        grid-template-columns: none;
    }
    
    .drawers {
        width:100%;
        height:35svh;
        border-radius:10px 10px 0 0;
    }

    .share {
        display:flex;
        justify-content:space-between;
        align-items:center;
        gap:1rem;
        background-color:var(--TXT-CLR-700);
        border-radius:0 0 10px 10px;
        z-index:2;
        padding:1.5rem 2rem;
    }

    .share .share_to{
        position:relative;
        bottom:0;
        right:0;
        justify-content:flex-start;
        gap:1rem;
        background-color:transparent;
        border-radius:none;
        z-index:0;
        padding:0;
        box-shadow: none;
    }

    .share .share_to::after{
        display:none;
    }

    .hide_writer{
        display:none
    }
    
    .share .share_icon{
        background-color:var(--TXT-CLR-500);
        display:flex;
    }

    .share .share_icon svg{
        fill:#fff;
    }
}




.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
